.about-us-desktop {
  position: fixed;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  flex-flow: row nowrap;
  font-family: "Monsterrat_arm", sans-serif;
  line-height: 1.7rem;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s;
  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .bottles {
    position: absolute;
    left: 25%;
    top: 50%;
    bottom: unset;
    transform: translate3d(-50%, -50%, 0);
  }
  .part-one {
    background: #8bd2b8;
    flex: 0 1 25%;
  }
  .part-two {
    flex: 0 1 24%;
    background: #e7524c;
    width: 337px;
  }
  .part-three {
    flex: 0 1 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #fa7d3c;

    &__inner {
      width: 100%;
      padding: 50px;
      & .about-us-text {
        width: 202px;
        margin-bottom: 35px;
      }
    }
  }
  .part-four {
    flex: 0 1 29%;
    background: #f1bb23;
    flex: 15%;
  }
}

.about-us-desktop--active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 1650px) {
  .about-us-desktop {
    .part-three {
      &__inner {
        font-size: 14px;
        line-height: 2rem;
        padding: 75px;

        & .about-us-text {
          width: 284px;
          margin-bottom: 52px;
        }
      }
    }
  }
}
