@import "./variables.scss";

.content {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 100px;

  &-wrap {
    max-width: 876px;
    width: 90%;
    margin: auto;
  }
  &__header {
    width: 100%;
  }
  &--apple {
    background: $blurry-apple;
  }
  &--tomato {
    background: $blurry-tomato;
  }
  &--appleCitrus {
    background: $blurry-appleCitrus;
  }
  &--multiMix {
    background: $blurry-multiMix;
  }

  &__inner {
    width: 100%;

    margin: 0 auto;
    background-repeat: no-repeat;
    background-origin: content-box;
  }
}

.descriptions {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    &--apple {
      fill: $apple;
    }
    &--appleCitrus {
      fill: $appleCitrus;
    }
    &--tomato {
      fill: $tomato;
    }
    &--multiMix {
      fill: $multiMix;
    }
  }
  & .container {
    position: relative;
  }
}

.common-description {
  display: flex;
  flex-flow: column nowrap;
}

.content__fruitChunk {
  display: block;
  position: absolute;
  right: 0;
  &--apple {
    top: 510px;
  }
  &--tomato {
    top: 460px;
  }
  &--appleCitrus {
    top: 470px;
  }
  &--multiMix {
    top: 590px;
  }
}

.juice-text2 {
  width: 60%;
  & > img {
    width: 100%;
  }
}

.sugar,
.leaflet,
.antioxidant {
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  padding: 20px 0;

  align-items: center;
  justify-content: flex-start;
}
.sugar-img,
.leaflet-img,
.antioxidant-img {
  z-index: 1;
  margin-right: 22px;
  margin-left: 5px;
}
.ellipse-bg {
  display: none;
  position: absolute;
  left: -20px;
  z-index: 0;
  width: 75px;
  height: 72px;
}
.ellipse-bg--sugar {
  transform: rotate(140deg);
}
.ellipse-bg--leaflet {
  transform: rotate(45deg);
}
.ellipse-bg--antioxidant {
  transform: rotate(-5deg);
}
.ellipse-bg--apple {
  fill: $apple;
}
.ellipse-bg--appleCitrus {
  fill: $appleCitrus;
}
.ellipse-bg--tomato {
  fill: $tomato;
}
.ellipse-bg--multiMix {
  fill: $multiMix;
}

.specific-description {
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  & > .descriptions-bg {
    display: none;
  }
}

.specific-description--apple {
  width: 80%;
}
.specific-description--tomato {
  width: 85%;
}
.specific-description--appleCitrus {
  padding-top: 30px;
  width: 87%;
}
.specific-description--multiMix {
  width: 87%;
}
.basic-composition-outer {
  margin-top: 50px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & img {
    width: 100%;
    max-width: 260px;
  }
  & > div {
    flex: 50%;
  }
}
.basic-composition-inner {
  display: none;
  width: 50%;

  margin-top: 40px;

  justify-content: center;
  align-items: center;
  & .bottle-sketch {
    position: relative;
    min-width: 170px;
    width: 40%;
    height: 100%;
  }
  & .bottle-sketch > img {
    position: absolute;
  }
  &--apple {
    & .bottle-sketch {
      & > img:nth-child(1) {
        height: 100%;
      }
      & > img:nth-child(2) {
        width: 53px;
        left: 76px;
        top: 19px;
      }
      & > img:nth-child(3) {
        width: 65px;
        left: 80px;
        top: 101px;
      }
      & > img:nth-child(4) {
        width: 70px;
        top: 90px;
        left: -20px;
      }
    }
  }
  &--tomato {
    & .bottle-sketch {
      & > img:nth-child(1) {
        height: 100%;
      }
      & > img:nth-child(2) {
        width: 77px;
        left: 90px;
        top: 0;
      }
      & > img:nth-child(3) {
        width: 65px;
        left: 100px;
        top: 101px;
      }
      & > img:nth-child(4) {
        width: 70px;
        top: 90px;
        left: -20px;
      }
    }
  }
  &--appleCitrus {
    & .bottle-sketch {
      & > img:nth-child(1) {
        height: 100%;
      }
      & > img:nth-child(2) {
        width: 70px;
        left: -30px;
        top: 11px;
      }
      & > img:nth-child(3) {
        width: 50px;
        left: 93px;
        top: 75px;
      }
      & > img:nth-child(4) {
        width: 75px;
        top: 100px;
        left: -20px;
      }
    }
  }
  &--multiMix {
    & .bottle-sketch {
      & > img:nth-child(1) {
        height: 100%;
      }
      & > img:nth-child(2) {
        width: 45px;
        left: -16px;
        top: 30px;
      }
      & > img:nth-child(3) {
        width: 70px;
        left: -14px;
        top: 90px;
      }
      & > img:nth-child(4) {
        width: 65px;
        top: 11px;
        left: 60px;
      }
    }
  }
}

.sub-composition {
  margin-top: 45px;
  position: relative;
  width: 100%;
  height: 300px;
}

.sub-composition__inner {
  position: absolute;
  left: 7%;
}

.juice-glass {
  position: absolute;
  & img {
    width: 100%;
  }

  &--apple {
    right: -85px;
    width: 225px;
    top: 25px;
  }
  &--tomato {
    right: -40px;
    width: 183px;
    top: 30px;
  }
  &--appleCitrus {
    right: -50px;
    width: 240px;
    top: 30px;
  }
  &--multiMix {
    right: -50px;
    width: 224px;
    top: 30px;
  }
}

.elements {
  font-weight: 700;
  padding: 0;
  margin-top: 21px;
  width: 230px;

  &__elem > p {
    margin: 0;
  }
  &__elem {
    display: block;
    width: 100%;
    margin-top: 7px;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 10px;
    //padding-right: 26px;
    min-height: 38px;
    background-repeat: no-repeat;
  }
  &__elem--ferrum {
    color: #8bd2b8;
    background-image: url("../images/ferrum-bg.png");
  }
  &__elem--kalium {
    color: #8bd2b8;
    background-image: url("../images/kalium-bg.png");
  }
  &__elem--magnesium {
    color: #8bd2b8;
    background-image: url("../images/magnesium-bg.png");
  }
  &__elem--fiber {
    color: #e7524c;
    background-image: url("../images/fiber-bg.png");
  }
  &__elem--kalium2 {
    color: #e7524c;
    background-image: url("../images/kalium2-bg.png");
  }
  &__elem--vitamine {
    color: #e7524c;
    background-image: url("../images/vitamine-bg.png");
  }
  &__elem--vitaminc {
    color: #fa7d3c;
    background-image: url("../images/vitaminc-bg.png");
  }
  &__elem--antioxidant {
    color: #fa7d3c;
    background-image: url("../images/antioxidant-bg.png");
  }
  &__elem--pektin {
    color: #fa7d3c;
    background-image: url("../images/pektin-bg.png");
  }
  &__elem--pektin-fiber {
    color: #f6cd5b;
    background-image: url("../images/pektin-fiber-bg.png");
  }
  &__elem--kalium3 {
    color: #f6cd5b;
    background-image: url("../images/kalium3-bg.png");
  }
  &__elem--fruit-acid {
    color: #f6cd5b;
    background-image: url("../images/fruit-acid-bg.png");
  }
}
