@media only screen and (min-width: 540px) {
  .home__wrap {
    width: 80%;
    margin: auto;
  }

  .descriptions > .descriptions-bg {
    display: none;
  }
  .specific-description {
    width: 70%;
    & > .descriptions-bg {
      display: block;
    }
  }
  .specific-descriptions > .descriptions-bg {
    display: block;
  }
  .ellipse-bg {
    display: block;
  }
  .sugar-img,
  .leaflet-img,
  .antioxidant-img {
    width: 30px;
    margin-right: 100px;
  }
  .sugar,
  .leaflet,
  .antioxidant {
    margin: 20px 20px;
  }
  .sugar {
    width: 170px;
  }
  .leaflet {
    width: 230px;
  }
  .antioxidant {
    width: 200px;
  }
  .juice-glass--tomato {
    width: 210px;
    right: 55%;
  }
  .juice-glass--apple {
    width: 265px;
    right: 50%;
  }
  .juice-glass--appleCitrus {
    width: 280px;
    right: 55%;
  }
  .juice-glass--multiMix {
    width: 265px;
    right: 55%;
  }

  .sub-composition__inner {
    left: 55%;
    top: 30px;
  }
  .sub-composition {
    margin-bottom: 112px;
  }
  form {
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f193;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #607d8bbf;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #607d8b;
  }
  .wrapper > .social {
    display: block;
  }
  .header__inner {
    padding-left: 52px;
    padding-right: 55px;
    margin-top: 56px;
  }
  .logo {
    width: 80px;
  }
  .nav-about-us,
  .nav-feedback {
    display: inline-block;
  }
  .burger {
    display: none;
  }
  .bottom-sign {
    text-align: left;
    bottom: 40px;
    & > img {
      width: 25px;
    }
  }
  .swiper-pagination-lines {
    bottom: 36px;
    display: flex;
  }

  .swiper-pagination-bullets {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    width: 30px;
    height: 182px;
  }
  .home__wrap {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    height: 30%;
    max-width: 880px;
  }
  .home__bottle {
    min-width: 600px;
    left: 280px;
    top: -95px;
  }
  .home__name-apple {
    left: 100px;
  }
  .home__name-tomato {
    left: 130px;
  }
  .home__name-appleCitrus {
    top: 10px;
    left: 130px;
  }
  .home__name-multiMix {
    top: 10px;
    left: 160px;
  }
  .play-btn {
    left: 225px;
    top: 140px;
    width: 95px;
  }

  .fruit__chunk1-apple {
    width: 220px;
    left: 530px;
    top: -60px;
  }

  .fruit__chunk2-apple {
    width: 165px;
    left: 0px;
    top: 15px;
  }
  .fruit__chunk3-apple {
    width: 130px;
    left: 540px;
    top: 180px;
  }
  .fruit__chunk4-apple {
    width: 180px;
    left: 125px;
    top: 239px;
  }
  .fruit__chunk1-tomato {
    width: 214px;
    left: 540px;
    top: -10px;
  }

  .fruit__chunk2-tomato {
    width: 100px;
    top: 180px;
    left: 525px;
  }
  .fruit__chunk3-tomato {
    width: 215px;
    left: 70px;
    top: 20px;
  }
  .fruit__chunk4-tomato {
    width: 230px;
    left: 160px;
    top: 220px;
  }
  .fruit__chunk1-appleCitrus {
    width: 160px;
    top: -107px;
    left: 40px;
  }

  .fruit__chunk2-appleCitrus {
    left: 570px;
    top: 205px;
    width: 90px;
  }
  .fruit__chunk3-appleCitrus {
    width: 270px;
    left: 501px;
    top: -55px;
  }
  .fruit__chunk4-appleCitrus {
    width: 120px;
    top: 130px;
    left: 60px;
  }
  .fruit__chunk5-appleCitrus {
    top: 310px;
    left: 193px;
    width: 100px;
  }
  .fruit__chunk1-multiMix {
    width: 150px;
    left: 63px;
    top: 54px;
  }

  .fruit__chunk2-multiMix {
    width: 263px;
    top: -120px;
    left: 461px;
  }
  .fruit__chunk3-multiMix {
    width: 210px;
    left: 515px;
    top: 100px;
    transform: rotate(0deg);
  }
  .fruit__chunk4-multiMix {
    width: 170px;
    left: 170px;
    top: 240px;
  }

  .juice-text2-apple {
    width: 136px;
    max-width: unset;
  }
  .juice-text2-appleCitrus {
    width: 170px;
    max-width: unset;
  }
  .juice-text2-tomato {
    width: 130px;
    max-width: unset;
  }
  .juice-text2-multiMix {
    width: 170px;
    max-width: unset;
  }
  .return-btn {
    display: none;
  }
  .content {
    padding-top: 124px;
  }
  .content__fruitChunk {
    display: none;
  }
  .content__header > .container {
    width: 100%;
  }
  .descriptions > .container {
    width: 100%;
  }

  .common-description {
    flex-flow: row nowrap;
  }

  .specific-description {
    margin-top: 40px;
    width: 50%;
  }

  .sugar-img,
  .leaflet-img,
  .antioxidant-img {
    width: 30px;
    margin-right: 40px;
  }
  .basic-composition-inner {
    display: flex;
    width: 50%;
  }
  .basic-composition-outer {
    display: none;
  }
  .sub-composition {
    margin-top: 160px;
  }
  .sub-composition__inner {
    top: 50px;
  }
  .composition-text {
    max-width: 165px;
  }
  .elements {
    width: 325px;
    &__elem {
      display: inline-block;
      padding-right: 40px;
      width: auto;
    }
  }
  .contacts-feedback__mobile,
  .copyright-mobile {
    display: none;
  }
  .contacts-feedback__desktop {
    display: flex;
  }

  .form-container {
    flex: 60%;
  }
  .form-gratitude {
    flex: 10%;
    align-items: flex-start;
    & .gratitude {
      font-size: 14px;
      line-height: 2rem;
      margin-top: 40px;
      text-align: center;
    }
  }

  form {
    overflow: visible;

    max-width: 640px;

    & .slider-track {
      width: 100%;
      & .slider-slide {
        width: 45%;
        &:first-child {
          margin-right: 10%;
          & .form__uname {
            margin-top: 0;
          }

          & #fakeInput {
            display: none;
          }
        }
        &:last-child {
          & textarea {
            height: 200px;
            width: 105%;
            padding: 0px 30px 0 17px;
            overflow-y: auto;
          }
          & .textarea__bg {
            height: 225px;
          }
          & .form__note {
            margin-top: 0;
          }
        }
      }
    }
    & .form__btns {
      display: none;
    }
    & .feedback__submit {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }
  }
}
