@import "./_global";
@import "./normalize";

.about-us-desktop {
  display: block;
  flex-flow: row nowrap;
  font-family: "Monsterrat_arm", sans-serif;
  line-height: 1.7rem;
  color: white;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .bottles {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .part-one {
    background: #8bd2b8;
    flex: 0 1 25%;
  }
  .part-two {
    flex: 0 1 24%;
    background: #e7524c;
    width: 337px;
  }
  .part-three {
    flex: 0 1 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #fa7d3c;

    &__inner {
      width: 100%;
      padding: 50px;
      & .about-us-text {
        width: 202px;
        margin-bottom: 35px;
      }
    }
  }
  .part-four {
    flex: 0 1 29%;
    background: #f1bb23;
    flex: 15%;
  }
}
.close-page-icon {
  position: absolute;
  text-decoration: none;
  width: 40px;
  height: 40px;
  z-index: 1;
  right: 30px;
  top: 30px;
  & > img {
    &:first-child {
      transform: translateY(20px) rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
@media only screen and (min-width: 1650px) {
  .about-us-desktop {
    .part-three {
      &__inner {
        font-size: 14px;
        line-height: 2rem;
        padding: 75px;

        & .about-us-text {
          width: 284px;
          margin-bottom: 52px;
        }
      }
    }
  }
}
