html {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  font-size: 12px;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Monsterrat_arm", sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 1.5rem;
}

img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

input,
select,
button {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 18px;
  line-height: 2rem;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper > .social {
  display: none;
  width: 27px;
  position: fixed;
  z-index: 20;
  right: 54px;
  bottom: 40px;
}

.wrapper > .social > a {
  display: block;
  margin: 15px 0;
}

.wrapper > .social img {
  width: 100%;
}

.container {
  width: 83%;
  margin: auto;
}

.damper {
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
}

.prevent-scrolling {
  overflow: hidden;
}

.bottom-sign {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  bottom: 56px;
}

.bottom-sign button {
  height: 50px;
  width: 100px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.about-us-desktop {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-family: "Monsterrat_arm", sans-serif;
  line-height: 1.7rem;
  color: white;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.about-us-desktop__wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.about-us-desktop .bottles {
  position: absolute;
  left: 25%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.about-us-desktop .part-one {
  background: #8bd2b8;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.about-us-desktop .part-two {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  background: #e7524c;
  width: 337px;
}

.about-us-desktop .part-three {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fa7d3c;
}

.about-us-desktop .part-three__inner {
  width: 100%;
  padding: 50px;
}

.about-us-desktop .part-three__inner .about-us-text {
  width: 202px;
  margin-bottom: 35px;
}

.about-us-desktop .part-four {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  background: #f1bb23;
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
}

.close-page-icon {
  position: absolute;
  text-decoration: none;
  width: 40px;
  height: 40px;
  z-index: 1;
  right: 30px;
  top: 30px;
}

.close-page-icon > img:first-child {
  -webkit-transform: translateY(20px) rotate(45deg);
          transform: translateY(20px) rotate(45deg);
}

.close-page-icon > img:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 1650px) {
  .about-us-desktop .part-three__inner {
    font-size: 14px;
    line-height: 2rem;
    padding: 75px;
  }
  .about-us-desktop .part-three__inner .about-us-text {
    width: 284px;
    margin-bottom: 52px;
  }
}
/*# sourceMappingURL=about-us.css.map */