html {
  font-size: 13px;
}

.wrapper > .social {
  width: 38px;
}

.header__inner {
  padding-left: 60px;
  padding-right: 70px;
  margin-top: 70px;
}

.logo {
  width: 110px;
}

.nav-about-us {
  width: 118px;
}

.nav-feedback {
  width: 150px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 42px;
  height: 261px;
}

.swiper-button-prev::after,
.swiper-button-prev::before {
  left: 15px;
}

.swiper-button-prev::before {
  top: 46%;
}

.swiper-button-next::after,
.swiper-button-next::before {
  right: 15px;
}

.swiper-pagination-line {
  width: 42px;
  height: 6px;
  margin: 12px;
}

.bottom-sign > img {
  width: 35px;
}

.swiper-pagination-lines {
  bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__wrap {
  max-width: 1050px;
  height: 50%;
}

.home__bottle {
  max-width: unset;
  width: 843px;
  left: 300px;
  top: -100px;
}

.home__name-apple {
  left: 30px;
  top: 50px;
  width: 451px;
  max-width: unset;
}

.home__name-tomato {
  left: 120px;
  top: 50px;
  max-width: unset;
  width: 357px;
}

.home__name-appleCitrus {
  max-width: unset;
  width: 357px;
  top: 50px;
  left: 120px;
}

.home__name-multiMix {
  max-width: unset;
  width: 330px;
  top: 50px;
  left: 150px;
}

.play-btn {
  left: 215px;
  top: 245px;
  width: 120px;
}

.fruit-chunks {
  width: 1000px;
}

.fruit__chunk1-apple {
  width: 240px;
  left: 630px;
  top: 0px;
}

.fruit__chunk2-apple {
  width: 170px;
  top: 90px;
  left: -50px;
}

.fruit__chunk3-apple {
  width: 160px;
  left: 630px;
  top: 280px;
}

.fruit__chunk4-apple {
  width: 250px;
  left: 77px;
  top: 370px;
}

.fruit__chunk1-tomato {
  width: 283px;
  left: 620px;
  top: 30px;
}

.fruit__chunk2-tomato {
  width: 140px;
  top: 270px;
  left: 600px;
}

.fruit__chunk3-tomato {
  width: 280px;
  left: 55px;
  top: 77px;
}

.fruit__chunk4-tomato {
  width: 305px;
  left: 150px;
  top: 340px;
}

.fruit__chunk1-appleCitrus {
  width: 240px;
  top: -106px;
  left: -35px;
}

.fruit__chunk2-appleCitrus {
  width: 110px;
  top: 300px;
  left: 670px;
}

.fruit__chunk3-appleCitrus {
  width: 370px;
  left: 580px;
  top: -33px;
}

.fruit__chunk4-appleCitrus {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  width: auto;
  left: 50px;
  top: 260px;
}

.fruit__chunk5-appleCitrus {
  width: 155px;
  left: 190px;
  top: 455px;
}

.fruit__chunk1-multiMix {
  width: auto;
  left: 25px;
  top: 120px;
}

.fruit__chunk2-multiMix {
  width: 440px;
  top: -172px;
  left: 475px;
}

.fruit__chunk3-multiMix {
  width: 330px;
  left: 581px;
  top: 200px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fruit__chunk4-multiMix {
  width: auto;
  left: 190px;
  top: 368px;
}

.juice-text2-apple {
  width: 220px;
}

.juice-text2-appleCitrus {
  width: 590px;
}

.juice-text2-tomato {
  width: 216px;
}

.juice-text2-multiMix {
  width: 475px;
}

.content {
  padding-top: 124px;
}

.content__inner {
  margin-top: 70px;
}

.content-wrap {
  max-width: 1255px;
}

.ellipse-bg {
  left: -20px;
  width: 120px;
  height: 110px;
}

.content__fruitChunk {
  display: none;
}

.content__header > .container {
  width: 100%;
}

.descriptions > .container {
  width: 100%;
}

.common-description {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.common-description > div {
  padding-left: 10px;
}

.common-description > .sugar {
  -webkit-box-flex: 26%;
      -ms-flex: 26%;
          flex: 26%;
}

.common-description > .sugar > .sugar-text {
  max-width: 150px;
}

.common-description > .leaflet {
  -webkit-box-flex: 37%;
      -ms-flex: 37%;
          flex: 37%;
}

.common-description > .leaflet > .leaflet-text {
  max-width: 200px;
}

.common-description > .antioxidant {
  -webkit-box-flex: 37%;
      -ms-flex: 37%;
          flex: 37%;
}

.common-description > .antioxidant > .antioxidant-text {
  max-width: 230px;
}

.specific-description {
  min-height: 243px;
  margin-top: 70px;
  width: 50%;
}

.specific-description > .container {
  font-size: 14px;
  width: 80%;
}

.sugar-img,
.leaflet-img,
.antioxidant-img {
  width: 52px;
  margin-right: 60px;
}

.basic-composition-inner {
  margin-top: 70px;
}

.basic-composition-inner--apple .bottle-sketch > img:nth-child(1) {
  height: 130%;
  top: -20px;
}

.basic-composition-inner--apple .bottle-sketch > img:nth-child(2) {
  width: 73px;
  left: 111px;
  top: 13px;
}

.basic-composition-inner--apple .bottle-sketch > img:nth-child(3) {
  width: 115px;
  left: 110px;
  top: 100px;
}

.basic-composition-inner--apple .bottle-sketch > img:nth-child(4) {
  width: 115px;
  top: 90px;
  left: -35px;
}

.basic-composition-inner--tomato .bottle-sketch > img:nth-child(1) {
  height: 130%;
  top: -20px;
}

.basic-composition-inner--tomato .bottle-sketch > img:nth-child(2) {
  width: 110px;
  left: 116px;
  top: 0;
}

.basic-composition-inner--tomato .bottle-sketch > img:nth-child(3) {
  width: 110px;
  left: 120px;
  top: 118px;
}

.basic-composition-inner--tomato .bottle-sketch > img:nth-child(4) {
  width: 110px;
  top: 90px;
  left: -43px;
}

.basic-composition-inner--appleCitrus .bottle-sketch > img:nth-child(1) {
  height: 130%;
  top: -20px;
}

.basic-composition-inner--appleCitrus .bottle-sketch > img:nth-child(2) {
  width: 110px;
  left: -60px;
  top: 0px;
}

.basic-composition-inner--appleCitrus .bottle-sketch > img:nth-child(3) {
  width: 70px;
  left: 125px;
  top: 85px;
}

.basic-composition-inner--appleCitrus .bottle-sketch > img:nth-child(4) {
  width: 110px;
  top: 110px;
  left: -40px;
}

.basic-composition-inner--multiMix .bottle-sketch > img:nth-child(1) {
  height: 130%;
  top: -20px;
}

.basic-composition-inner--multiMix .bottle-sketch > img:nth-child(2) {
  width: 76px;
  left: -30px;
  top: 15px;
}

.basic-composition-inner--multiMix .bottle-sketch > img:nth-child(3) {
  width: 130px;
  left: -36px;
  top: 110px;
}

.basic-composition-inner--multiMix .bottle-sketch > img:nth-child(4) {
  width: 102px;
  top: 18px;
  left: 90px;
}

.basic-composition-outer {
  display: none;
}

.sub-composition {
  margin-top: 200px;
  margin-bottom: 130px;
  height: 410px;
}

.juice-glass--tomato {
  width: 300px;
}

.juice-glass--apple {
  width: 380px;
}

.juice-glass--appleCitrus {
  width: 380px;
}

.juice-glass--multiMix {
  width: 365px;
}

.sub-composition__inner {
  top: 90px;
}

.elements {
  margin-top: 30px;
  width: 450px;
}

.elements__elem {
  font-size: 16px;
  padding: 17px 35px 25px 20px;
  margin-top: 10px;
}

.elements__elem--ferrum {
  color: #8bd2b8;
  background-image: url("../images/ferrum-bg-big.png");
}

.elements__elem--kalium {
  color: #8bd2b8;
  background-image: url("../images/kalium-bg-big.png");
}

.elements__elem--magnesium {
  color: #8bd2b8;
  background-image: url("../images/magnesium-bg-big.png");
}

.elements__elem--fiber {
  color: #e7524c;
  background-image: url("../images/fiber-bg-big.png");
}

.elements__elem--kalium2 {
  color: #e7524c;
  background-image: url("../images/kalium2-bg-big.png");
}

.elements__elem--vitamine {
  color: #e7524c;
  background-image: url("../images/vitamine-bg-big.png");
}

.elements__elem--vitaminc {
  color: #fa7d3c;
  background-image: url("../images/vitaminc-bg-big.png");
}

.elements__elem--antioxidant {
  color: #fa7d3c;
  background-image: url("../images/antioxidant-bg-big.png");
}

.elements__elem--pektin {
  color: #fa7d3c;
  background-image: url("../images/pektin-bg-big.png");
}

.elements__elem--pektin-fiber {
  color: #f6cd5b;
  background-image: url("../images/pektin-fiber-bg-big.png");
}

.elements__elem--kalium3 {
  color: #f6cd5b;
  background-image: url("../images/kalium3-bg-big.png");
}

.elements__elem--fruit-acid {
  color: #f6cd5b;
  background-image: url("../images/fruit-acid-bg-big.png");
}

.contacts-feedback__mobile,
.copyright-mobile {
  display: none;
}

.contacts-feedback__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.form-gratitude {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-gratitude .gratitude {
  margin-top: 40px;
  text-align: center;
}

.feedback__text img {
  width: 350px;
}

form {
  overflow: visible;
  font-size: 14px;
  max-width: 900px;
  overflow: visible;
  font-size: 14px;
  max-width: 900px;
}

form label {
  margin-bottom: 15px;
}

form input {
  padding: 22px 10px 20px 15px;
}

form textarea {
  padding-left: 15px;
}

form .mail-input__bg,
form .name-input__bg,
form .phone-input__bg {
  width: 100%;
  height: 58px;
}

form .slider-track {
  width: 100%;
}

form .slider-track .slider-slide {
  width: 45%;
}

form .slider-track .slider-slide:first-child {
  margin-right: 10%;
}

form .slider-track .slider-slide:first-child .form__uname {
  margin-top: 0;
}

form .slider-track .slider-slide:first-child .form__mail {
  margin-top: 35px;
}

form .slider-track .slider-slide:first-child .form__phone {
  margin-top: 35px;
}

form .slider-track .slider-slide:first-child #fakeInput {
  display: none;
}

form .slider-track .slider-slide:last-child textarea {
  height: 295px;
}

form .slider-track .slider-slide:last-child .textarea__bg {
  height: 321px;
}

form .feedback__submit {
  margin-top: 90px;
}

form .feedback__submit > img {
  width: 213px;
}

.upToMome img {
  width: 35px;
}
/*# sourceMappingURL=widescreen.css.map */